.container{
    display: grid;
    width: 600px;
    height: 600px;

    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    gap: 10px;
}

.box{
    background-color: red;
    border: 2px solid black;
}

@keyframes container{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1);
    }
    
}